---
- name: "[main.yml] Import local tasks"
  ansible.builtin.import_tasks: local.yml
  delegate_to: localhost
  run_once: true
  tags:
    - ssh_userCA
    - ssh_userCA_local

- name: "[main.yml] Import remote tasks"
  ansible.builtin.import_tasks: remote.yml
  tags:
    - ssh_userCA
    - ssh_userCA_remote

- name: "[main.yml] Import tasks: revoke"
  ansible.builtin.include_tasks:
    file: revoke.yml
    apply:
      tags:
        - ssh_userCA
        - ssh_userCA_revoke
  when: (ssh_userCA_crt_revoked | default([])) | length > 0
  tags: always
