---
## REMOTE SSH SERVER TASKS

- name: "[remote.yml] REMOTE: Ensure UserCA Public Key exists on Managed Host"
  ansible.builtin.copy:
    src: "{{ ssh_userCA.path }}.pub"
    dest: "{{ ssh_common_etc_dir }}"
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
    mode: '0600'
    backup: false
  become: true
  notify: Reload sshd

## Without this file the sshd will reject the valid keys, so keping it here
- name: "[remote.yml] REMOTE: Ensure RevokedKeys file exists on Managed Host"
  ansible.builtin.copy:
    dest: "{{ ssh_common_etc_dir }}/{{ ssh_userCA_krl_filename }}"
    content: ""
    force: false
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
    mode: '0644'
  become: true
  notify: Reload sshd

- name: "[remote.yml] REMOTE: Ensure AuthorizedPrincipals dir exists on Managed Host"
  ansible.builtin.file:
    path: "{{ ssh_common_etc_dir }}/{{ ssh_userCA_principals_dir_name }}"
    state: directory
    mode: '0755'
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
  become: true
  notify: Reload sshd

- name: "[remote.yml] REMOTE: Ensure AuthorizedPrincipals files exist"
  ansible.builtin.copy:
    dest: >-
      {{ ssh_common_etc_dir }}/{{ ssh_userCA_principals_dir_name }}/{{ ssh_userCA_prncpl.user }}
    content: "{{ ssh_userCA_prncpl.user }}"
    force: false
    mode: '0644'
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
  loop: "{{ ssh_userCA_cert.principals + [ { 'user': 'root' } ] }}"
  loop_control:
    loop_var: ssh_userCA_prncpl
  become: true
  notify: Reload sshd

## My recepie here:
# lineinfile:
#   regexp: '^([\s]*[#]*)*LINE_PART_1[\s]*LINE_PART_2[\s]*(.*)$
#   line: "LINE_PART_1  LINE_PART_2"
#   insertafter: "^([\s]*[#]*)*AFTER_PATTERN[\s]*(.*)$"
- name: "[remote.yml] REMOTE: Make sure sshd knows about UserCA"
  ansible.builtin.lineinfile:
    path: "{{ ssh_common_daemon_cfg }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    insertafter: "{{ item.after }}"
    firstmatch: false
  become: true
  notify: Reload sshd
  loop:
    - regexp: '^[\s]*#?[\s]*AuthorizedPrincipalsFile[\s]+.*$'
      after: '^[\s]*#?[\s]*AuthorizedKeysFile[\s]+.*$'
      line: >-
        AuthorizedPrincipalsFile
        {{ ssh_common_etc_dir }}/{{ ssh_userCA_principals_dir_name }}/%u
    - regexp: '^[\s]*#?[\s]*TrustedUserCAKeys[\s]+.*$'
      after: '^[\s]*#?[\s]*AuthorizedPrincipalsFile[\s]+.*$'
      line: >-
        TrustedUserCAKeys
        {{ ssh_common_etc_dir }}/{{ ssh_userCA.path|basename }}.pub
    - regexp: '^[\s]*#?[\s]*RevokedKeys[\s]+.*$'
      after: '^[\s]*#?[\s]*TrustedUserCAKeys[\s]+.*$'
      line: >-
        RevokedKeys
        {{ ssh_common_etc_dir }}/{{ ssh_userCA_krl_filename }}
