---
- name: "[revoke.yml] REMOTE: Ensure revoked dir exists on Managed Host"
  ansible.builtin.file:
    path: "{{ ssh_common_etc_dir }}/revoked"
    state: directory
    mode: '0755'
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
  become: true
  notify: Reload sshd

- name: "[revoke.yml] REMOTE: Ensure revoked keys/certs exist on Managed Host"
  ansible.builtin.copy:
    dest: "{{ ssh_common_etc_dir }}/revoked/{{ item.filename }}"
    content: "{{ item.type }} {{ item.b64 | replace(' ', '') }}"
    owner: "{{ ssh_common_owner }}"
    group: "{{ ssh_common_group }}"
    mode: '0644'
  become: true
  notify: Reload sshd
  register: ssh_userCA_entity_copy
  loop: "{{ ssh_userCA_crt_revoked|flatten(1) }}"

- name: "[revoke.yml] REMOTE: Revoke the keys/certs"
  ansible.builtin.command: >-
    ssh-keygen -k -f {{ ssh_common_etc_dir }}/{{ ssh_userCA_krl_filename }}
    -s {{ ssh_common_etc_dir }}/{{ ssh_userCA.path.split('/')[-1] }}.pub
    -z {{ item.sn|string }}
    {{ ssh_common_etc_dir }}/revoked/{{ item.filename }}
  become: true
  notify: Reload sshd
  loop: "{{ ssh_userCA_crt_revoked|flatten(1) }}"
  changed_when: ssh_userCA_entity_copy.changed
