---
- name: "[main.yml] Import local tasks"
  ansible.builtin.import_tasks: local.yml
  delegate_to: localhost
  # run_once: true
  tags:
    - ssh_hostCA
    - ssh_hostCA_local

- name: "[main.yml] Import remote tasks"
  ansible.builtin.import_tasks: remote.yml
  tags:
    - ssh_hostCA
    - ssh_hostCA_remote

- name: "[info.yml] Import remote reporting tasks"
  ansible.builtin.import_tasks: info.yml
  tags:
    - ssh_hostCA
    - ssh_hostCA_remote
