---
## NOTE:
## Run playbook:
##   ansible-playbook ssh_playbook.yml --extra-vars "target=<host_or_group>"  --flush-cache
## To only Issue Certs locally using existing CA (or generate the CA if it does not exist), add:
##   --tags ssh_userCA_local
## To only reconfigure remote SSHD to recognize your UserCA, add:
##   --tags ssh_userCA_remote
## Revoke the specified Certificates only:
##   --tags ssh_userCA_revoke

## ======== USER CERTIFICATE AUTHORITY PARAMETERS - START =====
## NOTE: If specifying existing CA, for now it must be unencrypted (no passphrase)
## Remove temporarily passphrase from UserCA:
##   ssh-keygen -p -N "" -f ./id_ed25519-UserCA
## Add the Passphrase back (after use):
##   ssh-keygen -p -f ./id_ed25519-UserCA
##
## If the CA exists, only ssh_userCA.path is required, other parameters will be ignored,
##   see regenerate: never for community.crypto.openssh_keypair module
##
## The support of passwphrase-protected CA will be added once the following is implemented:
##   https://github.com/ansible-collections/community.crypto/issues/195
ssh_userCA:
  # Temporary path to sshd UserCA keypair. UserCA will be generated if it does not exist there.
  # NOTE: When changing the type of the key, the size MUST be set correspondingly!
  path: /tmp/id_ed25519-UserCA
  type: ed25519   # ed25519 | rsa | rsa1 | dsa | ecdsa
  size: 256       # rsa:1024|2048|4096; dsa:1024; ecdsa:256|384|521; ed25519:256(ignored)
  comment: User CA for hosts domain.com
  regenerate: false
  # passphrase: 'use ansible-vault'
## ======== USER CERTIFICATE AUTHORITY PARAMETERS - END =======

## ======== USER KEYS THAT MUST BE SIGNED BY CA - START =======
## Naming Convention: Keys must be named in the following format
##   id_{{ type }}-{{ userN }}-<anything_else>.pub
## e.g:
##   - id_ed25519-user1-domain-com.pub
##   - id_rsa-user2.pub
##
## Existing dir that contains the user keypairs.
## If you have no keys, please check the drew1kun.ssh.keys role
## Will be created if doesn't exist.
ssh_userCA_keys_path: /tmp/user_keys
## ======== USER KEYS THAT MUST BE SIGNED BY CA - END =========

## =========== ISSUED CERTS PARAMETERS - START ===============
## If True, will only sign user keys, but will not configure remote SSHD servers:
ssh_userCA_principals_dir_name: authorized_principals
ssh_userCA_cert:
  valid_from: always
  valid_to: forever  # NOTE: for idempotency use 'forever' or set to +520w for 10 years etc..
  principals:
    ## Conventional: username must be a part of the key name e.g.:
    ##   id_ed25519-<username>-<whatever>
    -
      ## user: Added to Auth Principles to allow Cert to login as user specified in "limit"
      user: user1
      ## id: cosmetic - cert won't be reissued even if id changed; no role in KRL either
      id: user1@domain.com
      ## sn: Used in KRL - Increment SN each time you issue new certificate for the same key
      sn: 1
      ## Being added locally to user key certificates, check:
      ##   ssh-keygen -L -f \
      ##     ~/.ssh/certs/keys_users/cipherpunk-ca/id_ed25519-drew-cipherpunk-ca-cert.pub
      principal: user1,root,admin,pi
## =========== ISSUED CERTS PARAMETERS - END =================

## ============ REVOKED KEYS PARAMETERS - START ===============
## You can revoke either the key or the certificate, and issue new one for the same key
##
## Before revoking the certificate get it's Serial Number with:
##   ssh-keygen -L -f id_ed25519-cert.pub
ssh_userCA_krl_filename: revoked_keys_and_certs  # Key Revokation List filename
ssh_userCA_crt_revoked: []
## E.g:
# ssh_userCA_crt_revoked:
# - filename: id_rsa-user1-sn1-cert.pub   # REQUIRED: filename_sn-cert.pub
#   type: <cert_or_public_key_1>          # REQUIRED: part of -cert.pub before the first space
#   b64: <cert_or_public_key_1>           # REQUIRED: b64 part of -cert.pub to be revoked
#   sn: <serial_number1>                  # REQUIRED: SN from the -L command above

## The long lines can be broken into multiple, as follows using yaml folding >-
## This way the quotes should not be used and
#  - filename: id_ed25519-drew-cipherpunk-ca-cert.pub
#    type: 'ssh-ed25519-cert-v01@openssh.com'
#    b64: >-
#      AAAAIHNzaC1lZDI1NTE5LWNlcnQtdjAxQG9wZW5zc2guY29tAAAAICbO7BN3J+qczMYp94PudPxQd8
#      iXCN1cZt+17rNNwo6pAAAAIL5R3se+Y/6RsH2WI5r8jW/DfnGjidWYgFoZWnU+JC8sAAAAAAAAAAEA
#      AAABAAAAEmRyZXdAY2lwaGVycHVuay1jYQAAABYAAAAEZHJldwAAAARyb290AAAAAnBpAAAAAAAAAA
#      D//////////wAAAAAAAACCAAAAFXBlcm1pdC1YMTEtZm9yd2FyZGluZwAAAAAAAAAXcGVybWl0LWFn
#      ZW50LWZvcndhcmRpbmcAAAAAAAAAFnBlcm1pdC1wb3J0LWZvcndhcmRpbmcAAAAAAAAACnBlcm1pdC
#      1wdHkAAAAAAAAADnBlcm1pdC11c2VyLXJjAAAAAAAAAAAAAAAzAAAAC3NzaC1lZDI1NTE5AAAAIAyI
#      3mTIA2oayYS7XiyP4JyGqoSHHivyNEPbZi8zGQcnAAAAUwAAAAtzc2gtZWQyNTUxOQAAAEBzvc3Bpd
#      M45CWHusrdzzGUL9/RRQahmuZePOIGd1lb6tyG0gyoWeqmqWdaSnaGZu7PX0HKJ1FXyEy7tHTtSpYJ
#    sn: '1'
#  - filename: id_ed25519-drew-cipherpunk-ca-2-cert.pub
#    type: 'ssh-ed25519-cert-v01@openssh.com'
#    b64: >-
#      AAAAIHNzaC1lZDI1NTE5LWNlcnQtdjAxQG9wZW5zc2guY29tAAAAIFhCr7LvWC8O8SCk/kXlIJ0sjm
#      wlfxryxKNBEZn8I0MUAAAAIL5R3se+Y/6RsH2WI5r8jW/DfnGjidWYgFoZWnU+JC8sAAAAAAAAAAIA
#      AAABAAAAEmRyZXdAY2lwaGVycHVuay1jYQAAABYAAAAEZHJldwAAAARyb290AAAAAnBpAAAAAAAAAA
#      D//////////wAAAAAAAACCAAAAFXBlcm1pdC1YMTEtZm9yd2FyZGluZwAAAAAAAAAXcGVybWl0LWFn
#      ZW50LWZvcndhcmRpbmcAAAAAAAAAFnBlcm1pdC1wb3J0LWZvcndhcmRpbmcAAAAAAAAACnBlcm1pdC
#      1wdHkAAAAAAAAADnBlcm1pdC11c2VyLXJjAAAAAAAAAAAAAAAzAAAAC3NzaC1lZDI1NTE5AAAAIHyc
#      TaszwEk9FuKBE0vZgpO+Q42BBmWWbtBzcWbRuP7XAAAAUwAAAAtzc2gtZWQyNTUxOQAAAEA2DoqpZl
#      kliBpFEw2Xvyv1E7ePjIf9eoRWQkjp4zzTbBjJHOIUk07nxHa86tg3IZQlbTJJ10zE5D8V4f6ycg0E
#    sn: '2'
# ============ REVOKED KEYS PARAMETERS - END ================
